/* Nav Styles */

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a:visited {
  color: white;
}

.menu-link {
  background-color: #184a8e;
  margin: 5px;
  font-family: 'Short Stack', cursive;
  border-radius: 20px;
}

.topbar-center-logo {
  background: #0a7aa6;
  height: 70px;
  padding: 0;
}

.title-bar {
  height: 70px;
}

.mobile-version {
  font-family: 'Gloria Hallelujah', cursive;
  margin-left: 10px;
}

.title-bar-title{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.1em;
  margin-left: 10px;
  color: white;
}

.topbar-center-logo .menu {
  background: #0a7aa6;
}

.topbar-center-logo .menu a {
  color: #fefefe;
}

.logo {
  min-width: 180px;
  min-height: 180px;
}

.top-bar-left {
  max-width: fit-content !important;
}

.link-icon {
  font-size: 16px;
  margin-right: 7px;
}

.testimonial-title {
  font-family: 'Short Stack', cursive;
  color: black;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.testimonial-text {
  color: white;
  padding: 20px;
  text-align: center;
  margin: 5px;
  font-family: 'Open Sans', sans-serif;
}

.name-text {
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 10px;
}

.testimonial-con {
  background-color: #0a7aa6;
  border-radius: 20px;
  width: 350px;
  box-shadow: 0px 3px 10px #cecece;
  margin-bottom: 50px;
}

.testimonial-con:first-child {
  margin-top: 20px;
}

@media screen and (max-width: 928px) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }

  .top-bar-left {
    max-width: none !important;
  }

  .menu-link a {
    text-align: center;
    border-bottom: 0.5px solid #fff;
  }
  .menu-link a:first-child {
    border-top: 0.5px solid #fff;
    border-bottom: none;
  }
  .menu-link {
    background: transparent;
    margin: 0;
    border-radius: 0;
  }
  li.menu-link:hover {
    background: #184a8e;
  }
  ul#footer-nav.menu.align-center li a {
    border: none;
  }
}

.topbar-center-logo-mobile {
  background: #0a7aa6;
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}

.nav-shadow {
  box-shadow: 0px 3px 10px #cecece;
}

.top-bar-center a {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2em;
}

.top-bar-center a:hover {
  text-decoration: none;
}

/* Welcome Styles */

#welcome {
  background-image: url('../images/about-chico-header.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  box-shadow: 0px 5px 9px #cecece;
}

#welcome img {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  padding-top: 50px;
}

.about-title {
  font-family: 'Short Stack', cursive;
  color: white;
  font-size: 3em;
  text-align: center;
  padding-top: 10px;
}

/* Body text */

.body-text {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5;
  text-align:justify;
}


.body-text-about {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5;
  text-align:justify;
}

/* Index Styles */

#welcome-home {
  background-color: #069dbf;
  padding-bottom: 50px;
}

.welcome-circle-img {
  max-width: 200px;
  display: inline-block;
}

.welcome-title {
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3em;
  padding-top: 50px;
  padding-bottom: 20px;
}


#description-hero {
  background-image: url('../images/home-hero-image.png');
  background-attachment: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 5px 9px #cecece;
}

.book {
  max-width: 300px;
  padding-right: 30px;
  padding-bottom: 10px;
}

.description-title-text {
  color: #212121;
  font-size: 30px;
  font-family: 'Short Stack', cursive;
  padding-top: 10px;
}

.description-text {
  font-family: 'Open Sans', sans-serif;
  color: #212121;
  font-size: 24px;
  padding-bottom: 40px;
}

#desc-text-block {
  padding-top: 130px;
}

#find-or-order {
  background-color: #069dbf;
}

.find-book {
  background-color: #184a8e;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
  font-size: 18px;
  margin-top: 80px;
}

.order-book {
  background-color: #184a8e;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
  font-size: 18px;
  margin-top: 80px;
}

.fo-icon {
  font-size: 20px;
  margin-right: 8px;
}

.illustration {
  max-width: 300px;
  min-width: 300px;
  margin-top: 50px;
}

/* Footer Styles */

footer {
  background-color: #0a7aa6;
  height: 150px;
  clear: both;
}

.copyright {
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
}

#footer-nav {
  padding-top: 10px;
}

.footer-divide {
  border: 0.5px solid white;
  margin: 0 auto;
  padding: 0;
  width: 350px;
}

.about-page-img{
  text-align: center;
}

.about-page-img img{
  border-radius: 60px;
  width: 80%;
  margin-bottom: 50px;
  margin-top: 20px;
}
