/* Nav Styles */

a {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a:visited {
  color: white;
}

.menu-link {
  background-color: #184a8e;
  margin: 5px;
  font-family: 'Short Stack', cursive;
}

.menu-link-about {
  background-color: #184a8e;
  margin: 5px;
  padding-right: 5px;
  font-family: 'Short Stack', cursive;
}

.nav-shadow {
  box-shadow: 0px 3px 10px #cecece;
}

.top-bar {
  background-color: #0a7aa6;
  height: 70px;
}

header {
  background-color: #0a7aa6;
}

.top-bar ul {
  background-color: #0a7aa6;
}

.dropdown.menu > li.is-active > a {
  color: #ffffff;
  }

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: #ffffff transparent transparent;
}

.is-dropdown-submenu {
  border: none;
}

.dropdown.menu > li.opens-right > .is-dropdown-submenu {
  background-color: #184a8e;
}

.title-bar {
  background-color: #0a7aa6;
  height: 70px;
}

#logo {
  width: 100px;
  height: auto;
  padding-top: 35px;
  margin: 0 auto;
  display: block;
}

/* Welcome Styles */

#welcome {
  background-image: url('../images/about-chico-header.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  box-shadow: 0px 5px 10px #cecece;
}

#welcome img {
  display: block;
  margin: 0 auto;
  max-width: none;
  padding-top: 50px;
}

.about-title {
  font-family: 'Short Stack', cursive;
  color: white;
  font-size: 3em;
  text-align: center;
  padding-top: 10px;
}

/* Body text */

.body-text {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5;
  text-align:justify;
}

/* Footer Styles */

footer {
  background-color: #0a7aa6;
  height: 150px;
  clear: both;
}

.copyright {
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
}

#footer-nav {
  padding-top: 10px;
}

.footer-divide {
  border: 0.5px solid white;
  margin: 0 auto;
  padding: 0;
  width: 350px;
}
